package templates

import (
	"github.com/AgrafeModel/AuthProviderGO/config"
)

templ HTMLPage(conf *config.Config, content templ.Component) {
	<html>
		<head>
			<title>{ conf.Details.Name }</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="description" content="{ conf.Details.Description }"/>
		</head>
		<body>
			@content
		</body>
	</html>
}
